@media screen and (min-width:700px) {
    


.main{
    display: grid;
    grid-template-columns: 25rem 37.5rem 30rem;
}

.box{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 1rem;
    margin-top: -0.5rem;
}

.box h3{
    font-size: 1.3rem;
}
.arrow{
    width: 2rem;
    height: 2rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    border: 1px solid white;
    border-radius: 2rem;
    font-weight: 400;
}
.arrow:hover{
    background-color: rgba(231, 230, 230, 0.7) ;
}

.wallpaper{
    border: 1px solid  rgb(209, 209, 209,0.1);
    width: 100%;
    height: 26vh;
    background-color: rgb(209, 209, 209)
}
.userData{
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-left: 1rem;
    margin-top: 5rem;
}
.userData h3{
font-size: 1.3rem;
margin-bottom: 0.1rem;
}
.userData span{
    /* margin-top: -10rem; */
    /* border: 1px solid; */
}

.joined{
    display: flex;
    align-items: center;
}
.calender{
    font-size:1.3rem;
}
.follower{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.subFollower{
   display: flex;
   align-items: center;
   width: 8rem;
   gap: 0.5rem;
}
.userProflePic{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: 1px solid red;
    background-color: red;
    position: absolute;
    top: 11rem;
}

.option{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(193, 193, 193);
}
}